h1,
h3 {
  text-align: center;
}

div {
  text-align: center;
}

.gris_italic {
  color: gray;
  font-style: italic;
}

.fondrouge {
  align-content: center;
  background: red;
  width: fit-content;
}

.cadre {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  padding: 20px;
  width: min-content;
  margin: auto;
}
